body{
	background-image: linear-gradient(to right, rgb(255, 128, 128), rgb(128, 128, 192));

	font-family: 'Barlow Condensed', sans-serif;
	font-weight: bold;
	min-height: 100%;
	/*margin: 10px;*/
}

#zone0{
    display: flex;
    list-style: none;
    justify-content: end;
    padding-right: 20px;
    color: rgb(0, 0, 0, .5);
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
  } 
  
li{
    padding: 10px;
}

.push{
    margin-right: auto;
}

a{
    text-decoration: none;
	color: rgb(228, 224, 224);
}

li:link{
	color: rgb(228, 224, 224);
}

a:visited{
	color: rgb(206, 233, 255);
}

li:hover{
	color: rgb(228, 224, 224);
    transition: all 2s;
	transform: scale(1.2);
}

a:active{
	color: rgb(228, 224, 224);
}



/* The nav before*/
/*
.sticky {
	position: fixed;
	top: 0;
	width: 100%
  } 
  
.nav-link{
	color: rgb(228, 224, 224);
}

.nav-link:visited{
	color: rgb(206, 233, 255);
}

.nav-link:hover{
	color: rgb(228, 224, 224);
	transform: scale(1.2);
	transition: all 2s;
}

.nav-link:active{
	color: rgb(228, 224, 224);
}
*/


.row.gap{
	height: 300px;
}

header{
	display: flex;

}

#headerTitle{
	color: rgb(228, 224, 224);
	font-weight: 600;
	font-size: 3rem;
	align-self: center;
	border-bottom: 1px solid rgb(228, 224, 224);
	text-transform: uppercase;
}

#headerText{
	color: rgb(228, 224, 224);
	font-weight: 300;
	font-size: 2rem;
	text-align: justify;
	width: 100%;
}

#signup{
	background-color:rgb(158, 196, 228);
	color: rgb(243, 237, 237);
	border-color: rgb(158, 196, 228);
}

.row.gap2{
	height: 200px;
}

footer{
	color: rgb(228, 224, 224);
	display: flex;
	justify-content: center;
}
