body{
	background-image: linear-gradient(to right, rgb(212, 187, 219), rgb(158, 196, 228));

	font-family: 'Barlow Condensed', sans-serif;
	font-weight: bold;
	font-size: 2rem;
}

.nav-link{
	color: rgb(228, 224, 224);
}

.nav-link:visited{
	color: rgb(255, 255, 255);
}

.nav-link:hover{
	color: rgba(56, 53, 53, 0.353);
}
