body{
	background-image: linear-gradient(to right, rgb(212, 187, 219), rgb(158, 196, 228));

	font-family: 'Barlow Condensed', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	min-height: 100%;
}

.nav-link{
	color: rgb(228, 224, 224);
}

.nav-link:visited{
	color: rgb(206, 233, 255);
}

.nav-link:hover{
	color: rgb(228, 224, 224);
	transform: scale(1.2);
	transition: all 2s;
}

.nav-link:active{
	color: rgb(228, 224, 224);
}
.row.gap{
	height: 300px;
}

header{
	display: flex;

}

#headerTitle{
	color: rgb(228, 224, 224);
	font-weight: 600;
	font-size: 2em;
	align-self: center;
	border-bottom: 1px solid rgb(228, 224, 224);
	text-transform: uppercase;
}

#headerText{
	color: rgb(228, 224, 224);
	font-weight: 300;
	text-align: justify;
	width: 100%;
}

#signup{
	background-color:rgb(158, 196, 228);
	color: rgb(243, 237, 237);
	border-color: rgb(158, 196, 228);
}


